/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*UTILS*/
body{
    font-family: Arial, Helvetica, sans-serif
}

:root{
    --space-s: 10px;
    --space-m: 15px;
    --space-l: 30px;
    /*border*/
    --line: 2px dashed black;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
}

/*HEADER*/
header{
    background-color: lightblue;
}

.flex-container{
    background-color: goldenrod;
    display: flex;
    width: 1000px;
    margin: var(--space-m);
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.log{
    flex-basis: 25%;
    border: var(--line);
    padding: var(--space-m);
}

.log.list{
    flex-basis: 50%;
}

.box{
  background-color: rgb(1, 1, 167);
  padding: 30px;
}

.content{
    max-width: 750px;
    height: 300px;
    background-color: rgb(217, 136, 255);
    margin: 0px auto;
    border: var(--line);
}

/*MAIN*/

.box-white{
    background-color: #fff;
    padding: var(--space-l);
  }

.box-grey{
    background-color: rgb(175, 175, 175);
    padding: var(--space-l);
}


.box-sky{
    background-color: skyblue;
    width: 70%;
    height: 400px;
    border: var(--line);
}

.box-pink{
    background-color: pink;
    width: 30%;
    height: 400px;
    border: var(--line);
}

.box-green{
    background-color: rgb(0, 122, 31);
    width: 100%;
    height: 900px;
    border: var(--line);
}

/*FOOTER*/

.box-black{
    background-color: rgb(29, 28, 28);
    padding: var(--space-l);
    border-bottom: 2px solid white;
}

.box-purple{
    background-color: purple;
    width: 30%;
    height: 500px;
    border: var(--line);
}

.box-aqua{
    background-color: aqua;
    width: 70%;
    height: 500px;
    border: var(--line);
    display: flex;
}

.col{
    width: 25%;
    border: 2px dashed white;
    height: 100%;
}

.footer-nav{
    background-color: aquamarine;
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn{
    border: var(--line);
    height: 50%;
    padding: var(--space-s);
    background-color: blueviolet;
    line-height: 100%;
}